/*== 開閉式もくじ ==*/
.contents_box {
    padding: 10px;
    font-size:1rem;/*タイトルのフォントサイズ*/
    color:#696969;/*タイトルの文字色*/
    background-color:#fff;/*背景色*/
    border:1px solid #696969;/*外枠線- 色*/
}

/*== 開閉文字装飾 ==*/
.contents_box label {
    padding: 5px;
    color:#0000ff; /*文字色*/
    font-size:1rem;/*フォントサイズ*/
    cursor:pointer;
    border-bottom: 1px dotted #0000ff;/*下線*/
}

/*開く*/
.contents_box label:before{
    display: inline-block;
    content: "[ 開く ]";/*"表示"などに変更可*/}
/*閉じる*/
.contents_box input:checked ~ label:before {
     content: "[ 閉じる ]";/*"非表示"などに変更可*/}

.contents_box input{display:none;}
/*最初は非表示*/
.contents_box .hidden_show
{height:0;padding:0;overflow:hidden;transition:0.8s;}
/*クリックでopen*/
.contents_box input:checked ~ .hidden_show
{padding: 10px 0;height:auto;}

table{
    border-collapse:collapse;
}
td,th{
    padding:8px 20px;
    border:1px solid #b7b7b7
}
thead th{
    background:#2c8daa;
}
tbody tr:nth-child(2n){
    background:#ecfafc;
}

